<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="WIP" value="/Volumes/ws/tv/dotnet-binding-utils/nugets" />
    <add key="Local" value="./nugets" />
    <add key="Tuyen - MyGet" value="https://www.myget.org/F/tuyen-vuduc/api/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
  </packageSourceCredentials>
</configuration>